@model IEnumerable<StudentPlan.Models.Slot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DegreePlanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeTerm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeTerm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SlotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SlotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SlotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
